/*importing fonts from web*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/*assigning style to whole page*/
*
{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/*body starts*/
/*header starts*/
header
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 100px;
}
header .logo
{
  position: absolute;
  cursor: no-drop;
  top: 10px;
  left: 10px;
}
.nov a{
    position:relative;/* */
    width: 100%;
    height: 100%vh;
    top: 0;
    left: 160px;
    right: 0;
    text-decoration: none;
    color: #6495ED;
    text-transform: uppercase;
    padding: 20px 60px 20px 60px;
    letter-spacing: 2px;
    background-color: transparent;
}
.name a:hover{
    background-color: #15317E;
    color: #fff;
    letter-spacing: 6px;
}
/*header ends*/
.showcase
{
  padding: 35px;/*padding dincha */
  /*black nav*/
  background-color: black;
}
/*creation of form */
.pic{
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  height: 110vh;
  background-image: url(../images/d1.jpg);
  background-size: cover;
  background-position: center;
}
.conte {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  border: 3px solid cornflowerblue;
}

.hoop{
  background-color: cornflowerblue;
  padding: 20px 20px;
}

.hoop h2 {
  margin: 0;
  color: black;
  font-size: 20px;
}
.hoop h2:hover{
  color: #15317E;
  font-size: 29px;
  letter-spacing: 2px;
  transition: 0.3s;
}
.form {
  padding: 30px 40px; 
}

.valid {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.namee{
  color: red;
}
.valid p {
  display: inline-block;
  margin-bottom: 5px;
}
.valid input, textarea {
  border: 2px solid cornflowerblue;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.form button {
  background-color: cornflowerblue;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 0px 5px;
  margin-top: 20px;
  width: 100%;
  border: 2px solid cornflowerblue;
}
.form button:hover {
  color: #000;
  letter-spacing: 3px;
  transition: 0.3s;
  border: 2px solid palevioletred;
}
/*********** footer ***********/
.final{
  background-color: #000000;
  padding: 10px 0;
  font-family:'Poppins', sans-serif;
}
.container{
  max-width: 100%;
}
.row{
  display: flex; 
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col p{
  color: white;
}
.footer-col h4{
  font-size: 18px;
  color: #e91e63;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li a{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
}
.footer-col ul li a:hover{
  color: cornflowerblue;
  padding: 8px;
  font-size: 20px;
  font-weight: 200px;
  transition: 0.3s;
}
.manu img{
  width: 10%;
}
.footer-col .pay img{
  width: 20%;
}
.footer-col .pay img:hover{
  transform: scale(1.3);
  transition: 0.3s;
}
.copy{
  color: #fff;
  font-size: 10px;
}
.copy p{
  color: #A0CFEC;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  padding: 9px;
  border-radius: 2px;
  border: 2px solid cornflowerblue;
}
.forline{
  max-width: 80%;
  margin:auto;
}
.last{
  color: #fff;
  text-align: center;
}
.last span{
  color: #F70D1A;
}
.last big{
  color: #6AFB92;
}
.last strong{
  color: #DDA0DD;
}
/*body ends*/